*{
    box-sizing: border-box;
}
.login{
    width:20%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}
h2{
    font-family:sans-serif;
}
.username{
    width:100%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}
.loginBtn{
    width:38%;
    padding: 10px;
    outline: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 5px;
}